body {margin: 0;}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #42f468;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #42f468;
  color: black;
}

.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
input[type=text]{
	width: 30%;
	margin-top:15%;
	margin-left:20%;
	border-radius: 4px;
	padding: 12px 20px 12px 40px;
	border :1px solid #2c9343;
	color:black;
	background-image: url('images/searchpic.png');
    background-position: 10px 12px;
	background-repeat: no-repeat;
}
input[type=text]:focus{
	border: 1px solid #41fc6a;
	background-color:white
}
table {
	margin-top:1%;
	margin-left:20%;
	border-collapse: collapse;
	width: 0%;
	height:0%;
}
th, td {
	text-align: left;
	padding: 8px;
}
tr:nth-child(even){background-color: #f2f2f7}
	th {
	background-color: #4CAF50;
	color: white;
}
tr:nth-child(even):hover{
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);	
}
tr:nth-child(odd):hover{
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
