<html>
<head>
	<link rel="stylesheet" href="/stylesheet" /> 
	<script src="https://www.w3schools.com/lib/w3.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="/static/Cookies.js"></script>
	<script>
		function myFunction() {
		var x = document.getElementById("tnav");
		if (x.className === "topnav") {
			x.className += " responsive";
		} else {
			x.className = "topnav";
		}
		}
		
		$(document).ready(function(){
			$("#search").fadeIn();
			$("#table").fadeIn("slow");
			var table = $("#table");
			table.animate({width: '0px', opacity: '0.8'}, "slow");
			table.animate({width: '60%', opacity: '0.8'}, "slow");
		});
		
		
	</script>
</head>
<body onload="">
	
	<div w3-include-html="/navbar"></div>
	<input id="search" style="display:none"align="center" type="text" placeholder="Search..." onkeyup="filterNames()">
	<table id ="table" style="display:none">
		<tr><th>ID</th><th>Name</th><th>Volume</th><th>Price</th></tr>
		
	</table>
 <script>
w3.includeHTML();
 
 
 function onRowClick(tableId, callback) {
    var table = document.getElementById(tableId),
        rows = table.getElementsByTagName("tr"),
        i;
		console.log(rows.length);

    for (i = 0; i < rows.length; i++) {
        table.rows[i].onclick = function (row) {
			
            return function () {
				
                callback(row);
            };
			
        }(table.rows[i]);
    }
};

 function resultrun(){
	if(!Cookies.get("username")){
		window.location.href="/";
	}
	var result = JSON.parse('{{result | tojson |safe}}');
	for(var i=0;i<result.length;i++){
    var y = document.createElement("TR");
    y.setAttribute("id", "myTr"+i);
    document.getElementById("table").appendChild(y);
	var array = result[i];
	
	for(var j =0;j<array.length;j++){
    var z = document.createElement("TD");
    z.setAttribute("id", "myTd"+i+j);
    var t = document.createTextNode(array[j]);
    z.appendChild(t);
    
    document.getElementById("myTr"+i).appendChild(z);
    }
    }
	
	onRowClick("table", function (row){
    var value = row.getElementsByTagName("td")[0].innerHTML;
    console.log("value>>", value);
	company_variables  = [{"ID":value}];
	
	window.location.href = '/companyProfile/'+value;
	
});

	
 }
 
resultrun();
function filterNames() {
  var input, filter, table, tr, td, i;
  input = document.getElementById("search");
  filter = input.value.toUpperCase();
  table = document.getElementById("table");
  tr = table.getElementsByTagName("tr");
  console.log(tr.length);
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[1];
	td1 = tr[i].getElementsByTagName("td")[0]
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1 || td1.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }        
  }
}





</script> 
</body>
</html>