<html>
<head>
	<script src="https://www.w3schools.com/lib/w3.js"></script> 
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="/static/Cookies.js"></script>

	<link rel="stylesheet" href="/stylesheet" /> 
	<script>
		function myFunction() {
		var x = document.getElementById("tnav");
		if (x.className === "topnav") {
			x.className += " responsive";
		} else {
			x.className = "topnav";
		}
		}
		
		$(document).ready(function(){
        var h1 = $(".h1");  
        h1.animate({fontSize: '2em'}, 1000);
		});
	</script>
</head>
<body onload="news()">
<div w3-include-html="/navbar"></div>

<h1   id ="h1" class="h1" style="font-size:5em; margin-top:10%" align="center">WELCOME TO VSM</h1>
<h3 align="center"> News</h3>
<p align="center">
<ul id = "ul">
	
</ul>
</p>

 <script>
w3.includeHTML();
function checkCookies(){
	if(!Cookies.get("username")){
		window.location.href="/";
	}else{
		document.getElementById("h1").innerHTML="WELCOME "+Cookies.get("username")+"<br> CASH IN HAND : "+Cookies.get("cash") ;
	}
}
function news(){
	result = JSON.parse('{{result|tojson|safe}}');
	ul = document.getElementById('ul');
	for(var i=0;i<result.length;i++){
	
		li = document.createElement("LI");
		t = document.createTextNode(result[i]);
		
		li.appendChild(t);
		ul.appendChild(li);
	}
}
checkCookies();
</script> 
</body>
</html>