<html>
<head>
	<script src="https://www.w3schools.com/lib/w3.js"></script> 
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<link rel="stylesheet" href="myHoldingcssfile.css" /> 
	<script>
		function myFunction() {
		var x = document.getElementById("tnav");
		if (x.className === "topnav") {
			x.className += " responsive";
		} else {
			x.className = "topnav";
		}
		}
		
		$(document).ready(function(){
        var h1 = $(".h1");  
        h1.animate({fontSize: '2em'}, 1000);
		});
	</script>
</head>
<body>
<div w3-include-html="navbar.html"></div>

<h1  class="h1" style="font-size:5em;" align="center">WELCOME TO VSM</h1>
<h3 align="center"> News</h3>
<p align="center">
<ul>
	<li>TATA acquired a new venture</li>
	<li>Cisco to launch a new product in market</li>
	<li>Reliance faces a lawsuit</li>
</ul>
</p>

 <script>
w3.includeHTML();
</script> 
</body>
</html>